*
{
margin:0;
}
.main-container
{
  margin:100px auto;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 800px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.add-task-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 200px;
  margin: 0px auto;
}
.task-lists
{
  width: 800px;
  height: auto;
}
.individual-task
{
  width: 800px;
  height: 100px;
  margin-top: 10px;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  border-bottom: #fafafa 2px solid;
  /*box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;*/
}
.individual-task:hover{
  cursor: pointer;
  background-color: #fafafa;
}
.del-btn:hover
{
  width: 20px;
}
.edit-btn
{
  margin-right: 20px;
}
.divider
{
  margin-left:20px;
  width:500px;
}